extends layout

block content
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
      .container
        
        button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
          | Menu
          i.fas.fa-bars
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#about') Nosotros
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#bicicletas') Bicicletas
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#signup') Contacto
    // Masthead
    header.masthead
      .container.d-flex.h-100.align-items-center
        .mx-auto.text-center
          h1.mx-auto.my-0.text-uppercase Red de Bicicletas
          h2.text-white-50.mx-auto.mt-2.mb-5 La primera red de ciclistas
          a.btn.btn-primary.js-scroll-trigger(href='#about') Comenzar
    // About
    section#about.about-section.text-center
      .container
        .row
          .col-lg-8.mx-auto
            h2.text-white.mb-4 Built with Bootstrap 4
            p.text-white-50
              | Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now, simply download the template on
              a(href='https://startbootstrap.com/theme/grayscale/') the preview page
              |                             . The theme is open source, and you can use it for any purpose, personal or commercial.
        img.img-fluid(src='/images/ipad.png' alt='')
    // Projects
    section#bicicletas.projects-section.bg-light
      .container
        #main_map
        a.btn(href='/bicicletas') Bicicletas
    // Footer 
    footer.footer.bg-black.small.text-center.text-white-50
      .container Copyright &copy; Your Website 2020
    // Bootstrap core JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')
    // Third party plugin JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
    // Core theme JS
    script(src='/javascripts/scripts.js')
    script(src='/javascripts/maps.js')
